bTicino EVENT.txt
[{"id":"b5f99279.d12d38","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"7f06f31c.b16684","type":"function","z":"b5f99279.d12d38","name":"event","func":"msg.payload=\"*99*1##\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":530,"y":200,"wires":[["8d6d8c48.3de12","8fcf2177.a82a5"]]},{"id":"2fcbcd5.b42cab2","type":"function","z":"b5f99279.d12d38","name":"calcola psw","func":"\tvar flag = true;\n\tvar num1 = 0x0;\n\tvar num2 = 0x0;\n\tvar password = parseInt(\"xxxxx\", 10);\n\tfor (var c in msg.payload) {\n\t\tc = msg.payload[c];\n\n\t\tif (c!='0') {\n\t\t\tif (flag) num2 = password;\n\t\t\tflag = false;\n\t\t}\n\t\tswitch (c) {\n\t\t\tcase '1':\n\t\t\t\tnum1 = num2 & 0xFFFFFF80;\n\t\t\t\tnum1 = num1 >>> 7;\n\t\t\t\tnum2 = num2 << 25;\n\t\t\t\tnum1 = num1 + num2;\n\t\t\t\tbreak;\n\t\t\tcase '2':\n\t\t\t\tnum1 = num2 & 0xFFFFFFF0;\n\t\t\t\tnum1 = num1 >>> 4;\n\t\t\t\tnum2 = num2 << 28;\n\t\t\t\tnum1 = num1 + num2;\n\t\t\t\tbreak;\n\t\t\tcase '3':\n\t\t\t\tnum1 = num2 & 0xFFFFFFF8;\n\t\t\t\tnum1 = num1 >>> 3;\n\t\t\t\tnum2 = num2 << 29;\n\t\t\t\tnum1 = num1 + num2;\n\t\t\t\tbreak;\n\t\t\tcase '4':\n\t\t\t\tnum1 = num2 << 1;\n\t\t\t\tnum2 = num2 >>> 31;\n\t\t\t\tnum1 = num1 + num2;\n\t\t\t\tbreak;\n\t\t\tcase '5':\n\t\t\t\tnum1 = num2 << 5;\n\t\t\t\tnum2 = num2 >>> 27;\n\t\t\t\tnum1 = num1 + num2;\n\t\t\t\tbreak;\n\t\t\tcase '6':\n\t\t\t\tnum1 = num2 << 12;\n\t\t\t\tnum2 = num2 >>> 20;\n\t\t\t\tnum1 = num1 + num2;\n\t\t\t\tbreak;\n\t\t\tcase '7':\n\t\t\t\tnum1 = num2 & 0x0000FF00;\n\t\t\t\tnum1 = num1 + (( num2 & 0x000000FF ) << 24 );\n\t\t\t\tnum1 = num1 + (( num2 & 0x00FF0000 ) >>> 16 );\n\t\t\t\tnum2 = ( num2 & 0xFF000000 ) >>> 8;\n\t\t\t\tnum1 = num1 + num2;\n\t\t\t\tbreak;\n\t\t\tcase '8':\n\t\t\t\tnum1 = num2 & 0x0000FFFF;\n\t\t\t\tnum1 = num1 << 16;\n\t\t\t\tnum1 = num1 + ( num2 >>> 24 );\n\t\t\t\tnum2 = num2 & 0x00FF0000;\n\t\t\t\tnum2 = num2 >>> 8;\n\t\t\t\tnum1 = num1 + num2;\n\t\t\t\tbreak;\n\t\t\tcase '9':\n\t\t\t\tnum1 = ~num2;\n\t\t\t\tbreak;\n\t\t\tcase '0':\n\t\t\t\tnum1 = num2;\n\t\t\t\tbreak;\n\t\t}\n\t\tnum2 = num1;\n\t}\n\tmsg.payload = (num1 >>> 0);\n\tmsg.payload = \"*#\"+msg.payload+\"##\";\n\nreturn msg\n \n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":530,"y":320,"wires":[["8d6d8c48.3de12","25677901.b4d2fe"]]},{"id":"f1eb55a5.43ae68","type":"debug","z":"b5f99279.d12d38","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":710,"y":140,"wires":[]},{"id":"8d6d8c48.3de12","type":"tcp out","z":"b5f99279.d12d38","host":"","port":"","beserver":"reply","base64":false,"end":false,"name":"","x":810,"y":260,"wires":[]},{"id":"8fcf2177.a82a5","type":"debug","z":"b5f99279.d12d38","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":710,"y":200,"wires":[]},{"id":"25677901.b4d2fe","type":"debug","z":"b5f99279.d12d38","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":710,"y":320,"wires":[]},{"id":"3fdc73f.b0c0c8c","type":"tcp in","z":"b5f99279.d12d38","name":"","server":"client","host":"xxx.xxx.xxx.xxx","port":"20000","datamode":"stream","datatype":"utf8","newline":"","topic":"","base64":false,"x":330,"y":140,"wires":[["f1eb55a5.43ae68","e2be99c0.4adf6"]]},{"id":"6413d870.0b1888","type":"function","z":"b5f99279.d12d38","name":"Gateway interpreter","func":"//if gateway send a light state\nif (msg.payload.slice(0,2) == \"*1\"){\n    return [msg,null];\n}\n//if gateway send a Temperature state\nelse if (msg.payload.slice(0,3) == \"*#4\"){\n    return [null,msg];\n}","outputs":2,"noerr":0,"initialize":"","finalize":"","x":360,"y":520,"wires":[["a31d2518.15ccb","c6efff15.4c12e8"],["8e328bff.6762f","d7d1e8cc.f76cf"]]},{"id":"ffd02aa0.78dbf","type":"function","z":"b5f99279.d12d38","name":"Temperature_Sensor","func":"var tmp = msg.payload.split(\"##\");\nvar sensorValue = tmp[0].split(\"*\");\nif (sensorValue[2] == \"11\"){\n    nvalue = parseInt(sensorValue[4])/10;\n    msg.payload = '{'+'\"idx\": ' + '11'+', \"nvalue\": ' +nvalue+'}';\n    return [msg,null,null,null];\n}\nelse if (sensorValue[2] == \"12\"){\n    nvalue = parseInt(sensorValue[4])/10;\n    msg.payload = '{'+'\"idx\": ' + '12x'+', \"nvalue\": ' +nvalue+'}';\n    return [null,msg,null,null];\n}\nelse if (sensorValue[2] == \"13\"){\n    nvalue = parseInt(sensorValue[4])/10;\n    msg.payload = '{'+'\"idx\": ' + '13'+', \"nvalue\": ' +nvalue+'}';\n    return [null,null,msg,null];\n}\nelse if (sensorValue[2] == \"14\"){\n    nvalue = parseInt(sensorValue[4])/10;\n    msg.payload = '{'+'\"idx\": ' + '14'+', \"nvalue\": ' +nvalue+'}';\n    return [null,null,null,msg];\n}","outputs":4,"noerr":0,"initialize":"","finalize":"","x":660,"y":700,"wires":[["68761ea7.6f6a7","ebd3863e.7dfef8"],["71fc750a.086cbc"],["872c2c0d.805d58"],["d02126b6.6511b8"]]},{"id":"8e328bff.6762f","type":"function","z":"b5f99279.d12d38","name":"Temperature","func":"var tmp = msg.payload.split(\"##\");\nvar sensorValue = tmp[0].split(\"*\");\n// Se ho ricevuto la lettura della T\nif (sensorValue[3] == \"0\"){\n    return [msg,null,null,null];\n}\n// Se ho ricevuto il valore impostato di T\nelse if (sensorValue[3] == \"14\"){\n    return [null,msg,null,null];\n}\n// Se ho ricevuto lo stato della valvola \nelse if (sensorValue[3] == \"20\"){\n    return [null,null,msg,null];\n}\n// Se ho ricevuto l'offset locale della temperatura impostata \nelse if (sensorValue[3] == \"13\"){\n    return [null,null,null,msg];\n}","outputs":4,"noerr":0,"initialize":"","finalize":"","x":410,"y":820,"wires":[["ffd02aa0.78dbf","d604bff6.6b143"],["6b671d4d.223664","b52d5c76.76a668"],["fba4f9c3.83c858","4f094d7.97967b4"],["f2deb53e.7741f"]]},{"id":"6b671d4d.223664","type":"function","z":"b5f99279.d12d38","name":"Set_Temperature_Sensor","func":"var tmp = msg.payload.split(\"##\");\nvar sensorValue = tmp[0].split(\"*\");\nif (sensorValue[2] == \"xx\"){\n    nvalue = parseInt(sensorValue[4])/10;\n    msg.payload = '{'+'\"idx\": ' + 'xx'+', \"nvalue\": ' +nvalue+'}';\n    return [msg,null,null,null];\n}\nelse if (sensorValue[2] == \"xx\"){\n    nvalue = parseInt(sensorValue[4])/10;\n    msg.payload = '{'+'\"idx\": ' + 'xx'+', \"nvalue\": ' +nvalue+'}';\n    return [null,msg,null,null];\n}\nelse if (sensorValue[2] == \"xx\"){\n    nvalue = parseInt(sensorValue[4])/10;\n    msg.payload = '{'+'\"idx\": ' + 'xx'+', \"nvalue\": ' +nvalue+'}';\n    return [null,null,msg,null];\n}\nelse if (sensorValue[2] == \"xx\"){\n    nvalue = parseInt(sensorValue[4])/10;\n    msg.payload = '{'+'\"idx\": ' + 'xx'+', \"nvalue\": ' +nvalue+'}';\n    return [null,null,null,msg];\n}","outputs":4,"noerr":0,"initialize":"","finalize":"","x":670,"y":960,"wires":[["50566704.940e18","9f7ddbfd.e730a"],["26b40219.2caf2e"],["f341a997.1dc2e"],["c8f8a492.f26048"]]},{"id":"d604bff6.6b143","type":"debug","z":"b5f99279.d12d38","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":680,"y":780,"wires":[]},{"id":"b52d5c76.76a668","type":"debug","z":"b5f99279.d12d38","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":680,"y":860,"wires":[]},{"id":"e2be99c0.4adf6","type":"function","z":"b5f99279.d12d38","name":"Gateway connection","func":"//se non sono connesso avvio la fase di connessione e verifica psw\nif (flow.get('connection') == '0' && msg.payload == \"*#*1##\"){\n    return [msg,null,null,null];\n}\n\n//il gateway sta richiedendo la psw\nelse if (flow.get('connection') == '0' && msg.payload.length != 6){\n    msg.payload = msg.payload.slice(2,11);\n    flow.set('connection','1');\n    return [null,msg,null,null];\n}\n\n//il gateway ha risposto che la psw è corretta, sono connesso\nelse if (flow.get('connection') == '1' && msg.payload == \"*#*1##\"){\n    flow.set('connection','2');\n    return [null,null,msg,null];\n}\n\n//normale comunicazione con il gateway\nelse if (flow.get('connection') == '2'){\n    return [null,null,msg,null];\n}\n// se ricevo un segnale di NACK non faccio nulla\nelse if (msg.payload == \"*#*0##\"){\n    return [null,null,null,null];\n}\n\n\n","outputs":4,"noerr":0,"initialize":"","finalize":"","x":280,"y":340,"wires":[["7f06f31c.b16684"],["2fcbcd5.b42cab2"],["6413d870.0b1888","68790cf.c3e04f4"],[]]},{"id":"688558c1.74d2e","type":"function","z":"b5f99279.d12d38","name":"Set variable on start","func":"flow.set('connection','0');\nreturn msg;","outputs":1,"noerr":0,"x":500,"y":80,"wires":[[]]},{"id":"104de687.3ae6a1","type":"inject","z":"b5f99279.d12d38","name":"","repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":270,"y":80,"wires":[["688558c1.74d2e"]]},{"id":"a31d2518.15ccb","type":"debug","z":"b5f99279.d12d38","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":630,"y":540,"wires":[]},{"id":"68790cf.c3e04f4","type":"debug","z":"b5f99279.d12d38","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":570,"y":400,"wires":[]},{"id":"d7d1e8cc.f76cf","type":"debug","z":"b5f99279.d12d38","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":600,"y":620,"wires":[]},{"id":"fba4f9c3.83c858","type":"function","z":"b5f99279.d12d38","name":"Valve_Status","func":"var tmp = msg.payload.split(\"##\");\nvar sensorValue = tmp[0].split(\"*\");\nif (sensorValue[2] == \"11#1\"){\n    if (sensorValue[4] == \"0\"){\n        msg.payload = '{'+'\"idx\": ' + '11'+', \"nvalue\": ' + '0' +  '}';\n        return [msg,null,null,null];\n    }\n    else {\n        msg.payload = '{'+'\"idx\": ' + '11'+', \"nvalue\": ' + '1' +  '}';\n        return [msg,null,null,null];\n    }\n}\nelse if (sensorValue[2] == \"12#1\"){\n    if (sensorValue[4] == \"0\"){\n        msg.payload = '{'+'\"idx\": ' + '12'+', \"nvalue\": ' + '0' +  '}';\n        return [null,msg,null,null];\n    }\n    else {\n        msg.payload = '{'+'\"idx\": ' + '12'+', \"nvalue\": ' + '1' +  '}';\n        return [null,msg,null,null];\n    }\n}\nelse if (sensorValue[2] == \"13#1\"){\n    if (sensorValue[4] == \"0\"){\n        msg.payload = '{'+'\"idx\": ' + '13'+', \"nvalue\": ' + '0' +  '}';\n        return [null,null,msg,null];\n    }\n    else {\n        msg.payload = '{'+'\"idx\": ' + '13'+', \"nvalue\": ' + '1' +  '}';\n        return [null,null,msg,null];\n    }\n}\nelse if (sensorValue[2] == \"14#1\"){\n    if (sensorValue[4] == \"0\"){\n        msg.payload = '{'+'\"idx\": ' + '14'+', \"nvalue\": ' + '0' +  '}';\n        return [null,null,null,msg];\n    }\n    else {\n        msg.payload = '{'+'\"idx\": ' + '14'+', \"nvalue\": ' + '1' +  '}';\n        return [null,null,null,msg];\n    }\n}","outputs":4,"noerr":0,"initialize":"","finalize":"","x":630,"y":1260,"wires":[["a26a0a14.b06c18","3810c883.f8d59"],["c424b1f4.6c6298","6a804b07.a114ec"],["eafe0888.9d2f2","4f3744fb.0652e4"],["937da91d.ed0988","2abdc1f8.66bff6"]]},{"id":"4f094d7.97967b4","type":"debug","z":"b5f99279.d12d38","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":430,"y":1200,"wires":[]},{"id":"2abdc1f8.66bff6","type":"debug","z":"b5f99279.d12d38","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":720,"y":1400,"wires":[]},{"id":"a3f3b68c.83f2a","type":"mqtt out","z":"b5f99279.d12d38","name":"","topic":"bticino/out","qos":"","retain":"","broker":"93cf9cd8.a41b28","x":830,"y":440,"wires":[]},{"id":"c6efff15.4c12e8","type":"function","z":"b5f99279.d12d38","name":"MQTT translate","func":"var tmp = msg.payload.split(\"##\");\nvar lightStatus = tmp[0].split(\"*\");\nmsg.payload = '{'+'\"idx\": ' + lightStatus[3]+', \"nvalue\": ' +lightStatus[2]+'}';\nreturn msg;\n\n\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":620,"y":460,"wires":[["60858247.6acd2c","a3f3b68c.83f2a"]]},{"id":"60858247.6acd2c","type":"debug","z":"b5f99279.d12d38","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":950,"y":500,"wires":[]},{"id":"68761ea7.6f6a7","type":"debug","z":"b5f99279.d12d38","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":960,"y":580,"wires":[]},{"id":"ebd3863e.7dfef8","type":"mqtt out","z":"b5f99279.d12d38","name":"","topic":"bticino/sensor/t11","qos":"","retain":"","broker":"93cf9cd8.a41b28","x":970,"y":640,"wires":[]},{"id":"50566704.940e18","type":"mqtt out","z":"b5f99279.d12d38","name":"","topic":"bticino/sensor/sett11","qos":"","retain":"","broker":"93cf9cd8.a41b28","x":1040,"y":940,"wires":[]},{"id":"9f7ddbfd.e730a","type":"debug","z":"b5f99279.d12d38","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":900,"y":900,"wires":[]},{"id":"d02126b6.6511b8","type":"mqtt out","z":"b5f99279.d12d38","name":"","topic":"bticino/sensor/t14","qos":"","retain":"","broker":"93cf9cd8.a41b28","x":990,"y":820,"wires":[]},{"id":"71fc750a.086cbc","type":"mqtt out","z":"b5f99279.d12d38","name":"","topic":"bticino/sensor/t12","qos":"","retain":"","broker":"93cf9cd8.a41b28","x":970,"y":700,"wires":[]},{"id":"872c2c0d.805d58","type":"mqtt out","z":"b5f99279.d12d38","name":"","topic":"bticino/sensor/t13","qos":"","retain":"","broker":"93cf9cd8.a41b28","x":990,"y":760,"wires":[]},{"id":"26b40219.2caf2e","type":"mqtt out","z":"b5f99279.d12d38","name":"","topic":"bticino/sensor/sett12","qos":"","retain":"","broker":"93cf9cd8.a41b28","x":1040,"y":980,"wires":[]},{"id":"f341a997.1dc2e","type":"mqtt out","z":"b5f99279.d12d38","name":"","topic":"bticino/sensor/sett13","qos":"","retain":"","broker":"93cf9cd8.a41b28","x":1020,"y":1020,"wires":[]},{"id":"c8f8a492.f26048","type":"mqtt out","z":"b5f99279.d12d38","name":"","topic":"bticino/sensor/sett14","qos":"","retain":"","broker":"93cf9cd8.a41b28","x":1020,"y":1080,"wires":[]},{"id":"a26a0a14.b06c18","type":"mqtt out","z":"b5f99279.d12d38","name":"","topic":"bticino/switch/valv11","qos":"","retain":"","broker":"93cf9cd8.a41b28","x":960,"y":1200,"wires":[]},{"id":"937da91d.ed0988","type":"mqtt out","z":"b5f99279.d12d38","name":"","topic":"bticino/switch/valv14","qos":"","retain":"","broker":"93cf9cd8.a41b28","x":980,"y":1380,"wires":[]},{"id":"eafe0888.9d2f2","type":"mqtt out","z":"b5f99279.d12d38","name":"","topic":"bticino/switch/valv13","qos":"","retain":"","broker":"93cf9cd8.a41b28","x":980,"y":1320,"wires":[]},{"id":"c424b1f4.6c6298","type":"mqtt out","z":"b5f99279.d12d38","name":"","topic":"bticino/switch/valv12","qos":"","retain":"","broker":"93cf9cd8.a41b28","x":1000,"y":1260,"wires":[]},{"id":"3810c883.f8d59","type":"debug","z":"b5f99279.d12d38","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":850,"y":1160,"wires":[]},{"id":"6a804b07.a114ec","type":"debug","z":"b5f99279.d12d38","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1170,"y":1240,"wires":[]},{"id":"4f3744fb.0652e4","type":"debug","z":"b5f99279.d12d38","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1170,"y":1320,"wires":[]},{"id":"f2deb53e.7741f","type":"function","z":"b5f99279.d12d38","name":"Offset_Temperature_Sensor","func":"var tmp = msg.payload.split(\"##\");\nvar sensorValue = tmp[0].split(\"*\");\nif (sensorValue[2] == \"11\"){\n    \n    if (sensorValue[4] == \"00\"){\n        msg.payload = '{'+'\"idx\": ' + '11'+', \"nvalue\": ' +'0'+'}';\n        return [msg,null,null,null];\n    }\n    else if (sensorValue[4] == \"01\"){\n        msg.payload = '{'+'\"idx\": ' + '11'+', \"nvalue\": ' +'1'+'}';\n        return [msg,null,null,null];\n    }\n    else if (sensorValue[4] == \"11\"){\n        msg.payload = '{'+'\"idx\": ' + '11'+', \"nvalue\": ' +'-1'+'}';\n        return [msg,null,null,null];\n    }\n    else if (sensorValue[4] == \"02\"){\n        msg.payload = '{'+'\"idx\": ' + '11'+', \"nvalue\": ' +'2'+'}';\n        return [msg,null,null,null];\n    }\n    else if (sensorValue[4] == \"12\"){\n        msg.payload = '{'+'\"idx\": ' + '11'+', \"nvalue\": ' +'-2'+'}';\n        return [msg,null,null,null];\n    }\n    else if (sensorValue[4] == \"03\"){\n        msg.payload = '{'+'\"idx\": ' + '11'+', \"nvalue\": ' +'3'+'}';\n        return [msg,null,null,null];\n    }\n    else if (sensorValue[4] == \"13\"){\n        msg.payload = '{'+'\"idx\": ' + '11'+', \"nvalue\": ' +'-3'+'}';\n        return [msg,null,null,null];\n    }\n    else if (sensorValue[4] == \"4\"){\n        msg.payload = '{'+'\"idx\": ' + '11'+', \"nvalue\": ' +'99'+'}';\n        return [msg,null,null,null];\n    }\n}\nelse if (sensorValue[2] == \"12\"){\n    \n    if (sensorValue[4] == \"00\"){\n        msg.payload = '{'+'\"idx\": ' + '12'+', \"nvalue\": ' +'0'+'}';\n        return [null,msg,null,null];\n    }\n    else if (sensorValue[4] == \"01\"){\n        msg.payload = '{'+'\"idx\": ' + '12'+', \"nvalue\": ' +'1'+'}';\n        return [null,msg,null,null];\n    }\n    else if (sensorValue[4] == \"11\"){\n        msg.payload = '{'+'\"idx\": ' + '12'+', \"nvalue\": ' +'-1'+'}';\n        return [null,msg,null,null];\n    }\n    else if (sensorValue[4] == \"02\"){\n        msg.payload = '{'+'\"idx\": ' + '12'+', \"nvalue\": ' +'2'+'}';\n        return [null,msg,null,null];\n    }\n    else if (sensorValue[4] == \"12\"){\n        msg.payload = '{'+'\"idx\": ' + '12'+', \"nvalue\": ' +'-2'+'}';\n        return [null,msg,null,null];\n    }\n    else if (sensorValue[4] == \"03\"){\n        msg.payload = '{'+'\"idx\": ' + '12'+', \"nvalue\": ' +'3'+'}';\n        return [null,msg,null,null];\n    }\n    else if (sensorValue[4] == \"13\"){\n        msg.payload = '{'+'\"idx\": ' + '12'+', \"nvalue\": ' +'-3'+'}';\n        return [null,msg,null,null];\n    }\n    else if (sensorValue[4] == \"4\"){\n        msg.payload = '{'+'\"idx\": ' + '12'+', \"nvalue\": ' +'99'+'}';\n        return [null,msg,null,null];\n    }\n}\nelse if (sensorValue[2] == \"13\"){\n    \n    if (sensorValue[4] == \"00\"){\n        msg.payload = '{'+'\"idx\": ' + '13'+', \"nvalue\": ' +'0'+'}';\n        return [null,null,msg,null];\n    }\n    else if (sensorValue[4] == \"01\"){\n        msg.payload = '{'+'\"idx\": ' + '13'+', \"nvalue\": ' +'1'+'}';\n        return [null,null,msg,null];\n    }\n    else if (sensorValue[4] == \"11\"){\n        msg.payload = '{'+'\"idx\": ' + '13'+', \"nvalue\": ' +'-1'+'}';\n        return [null,null,msg,null];\n    }\n    else if (sensorValue[4] == \"02\"){\n        msg.payload = '{'+'\"idx\": ' + '13'+', \"nvalue\": ' +'2'+'}';\n        return [null,null,msg,null];\n    }\n    else if (sensorValue[4] == \"12\"){\n        msg.payload = '{'+'\"idx\": ' + '13'+', \"nvalue\": ' +'-2'+'}';\n        return [null,null,msg,null];\n    }\n    else if (sensorValue[4] == \"03\"){\n        msg.payload = '{'+'\"idx\": ' + '13'+', \"nvalue\": ' +'3'+'}';\n        return [null,null,msg,null];\n    }\n    else if (sensorValue[4] == \"13\"){\n        msg.payload = '{'+'\"idx\": ' + '13'+', \"nvalue\": ' +'-3'+'}';\n        return [null,null,msg,null];\n    }\n    else if (sensorValue[4] == \"4\"){\n        msg.payload = '{'+'\"idx\": ' + '13'+', \"nvalue\": ' +'99'+'}';\n        return [null,null,msg,null];\n    }\n}\nelse if (sensorValue[2] == \"14\"){\n    \n    if (sensorValue[4] == \"00\"){\n        msg.payload = '{'+'\"idx\": ' + '14'+', \"nvalue\": ' +'0'+'}';\n        return [null,null,null,msg];\n    }\n    else if (sensorValue[4] == \"01\"){\n        msg.payload = '{'+'\"idx\": ' + '14'+', \"nvalue\": ' +'1'+'}';\n        return [null,null,null,msg];\n    }\n    else if (sensorValue[4] == \"11\"){\n        msg.payload = '{'+'\"idx\": ' + '14'+', \"nvalue\": ' +'-1'+'}';\n        return [null,null,null,msg];\n    }\n    else if (sensorValue[4] == \"02\"){\n        msg.payload = '{'+'\"idx\": ' + '14'+', \"nvalue\": ' +'2'+'}';\n        return [null,null,null,msg];\n    }\n    else if (sensorValue[4] == \"12\"){\n        msg.payload = '{'+'\"idx\": ' + '14'+', \"nvalue\": ' +'-2'+'}';\n        return [null,null,null,msg];\n    }\n    else if (sensorValue[4] == \"03\"){\n        msg.payload = '{'+'\"idx\": ' + '14'+', \"nvalue\": ' +'3'+'}';\n        return [null,null,null,msg];\n    }\n    else if (sensorValue[4] == \"13\"){\n        msg.payload = '{'+'\"idx\": ' + '14'+', \"nvalue\": ' +'-3'+'}';\n        return [null,null,null,msg];\n    }\n    else if (sensorValue[4] == \"4\"){\n        msg.payload = '{'+'\"idx\": ' + '14'+', \"nvalue\": ' +'99'+'}';\n        return [null,null,null,msg];\n    }\n}","outputs":4,"noerr":0,"initialize":"","finalize":"","x":580,"y":1620,"wires":[["211d45fb.2ff35a","e6b67abd.e89d58"],["4adf11e1.ed9958","c30f9857.dfb898"],["c6f1c06f.d50e98","a491545b.317548"],["a268b3e5.9aa3c","d6afad18.3e835"]]},{"id":"211d45fb.2ff35a","type":"mqtt out","z":"b5f99279.d12d38","name":"","topic":"bticino/sensor/offsett11","qos":"","retain":"","broker":"93cf9cd8.a41b28","x":1070,"y":1540,"wires":[]},{"id":"e6b67abd.e89d58","type":"debug","z":"b5f99279.d12d38","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":920,"y":1500,"wires":[]},{"id":"4adf11e1.ed9958","type":"mqtt out","z":"b5f99279.d12d38","name":"","topic":"bticino/sensor/offsett12","qos":"","retain":"","broker":"93cf9cd8.a41b28","x":1070,"y":1580,"wires":[]},{"id":"c6f1c06f.d50e98","type":"mqtt out","z":"b5f99279.d12d38","name":"","topic":"bticino/sensor/offsett13","qos":"","retain":"","broker":"93cf9cd8.a41b28","x":1050,"y":1620,"wires":[]},{"id":"a268b3e5.9aa3c","type":"mqtt out","z":"b5f99279.d12d38","name":"","topic":"bticino/sensor/offsett14","qos":"","retain":"","broker":"93cf9cd8.a41b28","x":1050,"y":1680,"wires":[]},{"id":"a491545b.317548","type":"debug","z":"b5f99279.d12d38","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1366,"y":1654,"wires":[]},{"id":"d6afad18.3e835","type":"debug","z":"b5f99279.d12d38","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1330,"y":1700,"wires":[]},{"id":"c30f9857.dfb898","type":"debug","z":"b5f99279.d12d38","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1330,"y":1620,"wires":[]},{"id":"93cf9cd8.a41b28","type":"mqtt-broker","z":"","name":"HomeAssistant","broker":"xxx.xxx.xxx.xxx","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""}]
