bTicino CMD.txt
[{"id":"b5f99279.d12d38","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"c8c0a8c5.14789","type":"function","z":"b5f99279.d12d38","name":"cmd","func":"msg.payload=\"*99*0##\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":610,"y":220,"wires":[["43796102.8abc"]]},{"id":"345f19f6.6d5d76","type":"function","z":"b5f99279.d12d38","name":"calcola psw","func":"\tvar flag = true;\n\tvar num1 = 0x0;\n\tvar num2 = 0x0;\n\tvar password = parseInt(\"xxxxx\", 10);\n\tfor (var c in msg.payload) {\n\t\tc = msg.payload[c];\n\n\t\tif (c!='0') {\n\t\t\tif (flag) num2 = password;\n\t\t\tflag = false;\n\t\t}\n\t\tswitch (c) {\n\t\t\tcase '1':\n\t\t\t\tnum1 = num2 & 0xFFFFFF80;\n\t\t\t\tnum1 = num1 >>> 7;\n\t\t\t\tnum2 = num2 << 25;\n\t\t\t\tnum1 = num1 + num2;\n\t\t\t\tbreak;\n\t\t\tcase '2':\n\t\t\t\tnum1 = num2 & 0xFFFFFFF0;\n\t\t\t\tnum1 = num1 >>> 4;\n\t\t\t\tnum2 = num2 << 28;\n\t\t\t\tnum1 = num1 + num2;\n\t\t\t\tbreak;\n\t\t\tcase '3':\n\t\t\t\tnum1 = num2 & 0xFFFFFFF8;\n\t\t\t\tnum1 = num1 >>> 3;\n\t\t\t\tnum2 = num2 << 29;\n\t\t\t\tnum1 = num1 + num2;\n\t\t\t\tbreak;\n\t\t\tcase '4':\n\t\t\t\tnum1 = num2 << 1;\n\t\t\t\tnum2 = num2 >>> 31;\n\t\t\t\tnum1 = num1 + num2;\n\t\t\t\tbreak;\n\t\t\tcase '5':\n\t\t\t\tnum1 = num2 << 5;\n\t\t\t\tnum2 = num2 >>> 27;\n\t\t\t\tnum1 = num1 + num2;\n\t\t\t\tbreak;\n\t\t\tcase '6':\n\t\t\t\tnum1 = num2 << 12;\n\t\t\t\tnum2 = num2 >>> 20;\n\t\t\t\tnum1 = num1 + num2;\n\t\t\t\tbreak;\n\t\t\tcase '7':\n\t\t\t\tnum1 = num2 & 0x0000FF00;\n\t\t\t\tnum1 = num1 + (( num2 & 0x000000FF ) << 24 );\n\t\t\t\tnum1 = num1 + (( num2 & 0x00FF0000 ) >>> 16 );\n\t\t\t\tnum2 = ( num2 & 0xFF000000 ) >>> 8;\n\t\t\t\tnum1 = num1 + num2;\n\t\t\t\tbreak;\n\t\t\tcase '8':\n\t\t\t\tnum1 = num2 & 0x0000FFFF;\n\t\t\t\tnum1 = num1 << 16;\n\t\t\t\tnum1 = num1 + ( num2 >>> 24 );\n\t\t\t\tnum2 = num2 & 0x00FF0000;\n\t\t\t\tnum2 = num2 >>> 8;\n\t\t\t\tnum1 = num1 + num2;\n\t\t\t\tbreak;\n\t\t\tcase '9':\n\t\t\t\tnum1 = ~num2;\n\t\t\t\tbreak;\n\t\t\tcase '0':\n\t\t\t\tnum1 = num2;\n\t\t\t\tbreak;\n\t\t}\n\t\tnum2 = num1;\n\t}\n\tmsg.payload = (num1 >>> 0);\n\tmsg.payload = \"*#\"+msg.payload+\"##\";\n\nreturn msg\n \n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":590,"y":280,"wires":[["43796102.8abc"]]},{"id":"b5b5f2d2.457b7","type":"debug","z":"b5f99279.d12d38","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":570,"y":120,"wires":[]},{"id":"43796102.8abc","type":"tcp out","z":"b5f99279.d12d38","host":"","port":"","beserver":"reply","base64":false,"end":false,"name":"","x":870,"y":460,"wires":[]},{"id":"278f227d.d31cb6","type":"tcp in","z":"b5f99279.d12d38","name":"","server":"client","host":"xxx.xxx.xxx.xxx","port":"20000","datamode":"stream","datatype":"utf8","newline":"","topic":"","base64":false,"x":200,"y":120,"wires":[["b5b5f2d2.457b7","8a9840e.466c3c"]]},{"id":"8a9840e.466c3c","type":"function","z":"b5f99279.d12d38","name":"","func":"connection=flow.get('connection');\n//se non sono connesso avvio la fase di connessione e verifica psw\nif (flow.get('connection') == '0' && msg.payload == \"*#*1##\"){\n    return [msg,null,null,null];\n}\n\n//il gateway sta richiedendo la psw\nelse if (flow.get('connection') == '0' && msg.payload.length != 6){\n    msg.payload = msg.payload.slice(2,11);\n    flow.set('connection','1');\n    return [null,msg,null,null];\n}\n\n//il gateway ha risposto che la psw è corretta, sono connesso\nelse if (flow.get('connection') == '1' && msg.payload == \"*#*1##\"){\n    flow.set('connection','2');\n    return [null,null,msg,null];\n}\n\n//normale comunicazione con il gaeway\nelse if (flow.get('connection') == '2'){\n    return [null,null,msg,null];\n}\n// se ricevo un segnale di NACK non faccio nulla\nelse if (msg.payload == \"*#*0##\"){\n    return [null,null,null,null];\n}\n\n\n","outputs":4,"noerr":0,"initialize":"","finalize":"","x":340,"y":260,"wires":[["c8c0a8c5.14789","58d77ab1.1c62f4"],["345f19f6.6d5d76","9975c342.2d25d"],[],[]]},{"id":"80c5522d.f33bc8","type":"trigger-state","z":"b5f99279.d12d38","name":"","server":"3aafc67f.001ae2","exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"input_boolean.updatebticino","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"targetType":"this_entity","targetValue":"","propertyType":"current_state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"on","propertyValue":"new_state.state"}],"outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","x":220,"y":680,"wires":[["7088582f.64bdd"],[]]},{"id":"7088582f.64bdd","type":"function","z":"b5f99279.d12d38","name":"update T","func":"//update state light\nmsg.payload = \"*#1*0##\";\nnode.send (msg);\n//ypdate T sensor\nmsg.payload = \"*#4*xx*0##\";\nnode.send (msg);\nmsg.payload = \"*#4*xx*14##\";\nnode.send (msg);\nmsg.payload = \"*#4*xx*19##\";\nnode.send (msg);\nmsg.payload = \"*#4*xx*13##\";\nnode.send (msg);\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":520,"y":680,"wires":[["43796102.8abc","20243132.06206e"]]},{"id":"f75ce85e.f71168","type":"inject","z":"b5f99279.d12d38","name":"","repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":170,"y":60,"wires":[["807b9078.f865e8"]]},{"id":"807b9078.f865e8","type":"function","z":"b5f99279.d12d38","name":"Set variable on start","func":"flow.set('connection','0');\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":60,"wires":[[]]},{"id":"58d77ab1.1c62f4","type":"debug","z":"b5f99279.d12d38","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":570,"y":180,"wires":[]},{"id":"9975c342.2d25d","type":"debug","z":"b5f99279.d12d38","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":570,"y":340,"wires":[]},{"id":"94333058.2b8af","type":"inject","z":"b5f99279.d12d38","name":"","repeat":"15","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"*#1*##","payloadType":"str","x":580,"y":420,"wires":[["43796102.8abc"]]},{"id":"a18ec92e.d76058","type":"comment","z":"b5f99279.d12d38","name":"Watchdog","info":"","x":420,"y":420,"wires":[]},{"id":"20243132.06206e","type":"debug","z":"b5f99279.d12d38","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":750,"y":680,"wires":[]},{"id":"e94902f8.292ac8","type":"mqtt in","z":"b5f99279.d12d38","name":"","topic":"lights/cmd","qos":"2","datatype":"auto","broker":"93cf9cd8.a41b28","x":140,"y":560,"wires":[["e4a3b23c.af91f8","e86a3d9.43942c"]]},{"id":"51f57fb1.f18d08","type":"debug","z":"b5f99279.d12d38","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":570,"y":580,"wires":[]},{"id":"e4a3b23c.af91f8","type":"json","z":"b5f99279.d12d38","name":"","property":"payload","action":"","pretty":false,"x":330,"y":500,"wires":[["69e862ca.1091ac"]]},{"id":"69e862ca.1091ac","type":"function","z":"b5f99279.d12d38","name":"send_message_to_gateway","func":"msg.payload = \"*1*\" + msg.payload.nvalue + \"*\" + msg.payload.idx + \"##\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":560,"y":500,"wires":[["51f57fb1.f18d08","43796102.8abc"]]},{"id":"a3c16d0d.b0123","type":"mqtt in","z":"b5f99279.d12d38","name":"","topic":"switch/cmd","qos":"2","datatype":"auto","broker":"93cf9cd8.a41b28","x":150,"y":420,"wires":[["e4a3b23c.af91f8"]]},{"id":"e86a3d9.43942c","type":"debug","z":"b5f99279.d12d38","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":300,"y":600,"wires":[]},{"id":"d980f3f0.3110d8","type":"inject","z":"b5f99279.d12d38","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":330,"y":760,"wires":[["7088582f.64bdd"]]},{"id":"3aafc67f.001ae2","type":"server","z":"","name":"Home Assistant","legacy":false,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true},{"id":"93cf9cd8.a41b28","type":"mqtt-broker","z":"","name":"HomeAssistant","broker":"xxx.xxx.xxx.xxx","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""}]
